@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
body {
  background-image: url(./Images/form-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

h1{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: "Josefin Sans", serif;
}
label[for="acceptTerms"]{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: "Josefin Sans", serif;
}
input[type="checkbox"] {
    width: 25px; 
    height: 25px;
    cursor: pointer;
  }
#submitButton{
    font-family: "Josefin Sans", serif;
    width: 300px;
    height: 30px;
    background-color: #348eb1b7;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
}
#con1 > div {
    margin-bottom: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    
}




:placeholder-shown{
    color: #aa8f61;
    font-family: "Fredoka", serif;
}


input{
    background: rgba(255, 255, 255, 0.1); /* Slightly transparent */
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    width: 300px;
    border-radius: 10px;
}

input:focus {
    background: rgba(255, 255, 255, 0.3); /* Less transparent when focused */
}

input::placeholder {
    color: white;
}

.alert-on-message{
    display: block;
}

.alert-off-message{
    display: none;
}

