@font-face {
    font-family:'Lovely-Home';
    src: url(/Fonts/LovelyHome-9aBZ.ttf);
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0EECC; 
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding-left: 80px;
    padding-right: 80px; 
    position: relative;
    top: -600px;
}
.card {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    cursor: pointer; 
}
.card:hover {
    transform: scale(1.05);
}

.image-container {
    width: 100%;
    height: 150px; 
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #117A3D;
    position: relative;
    z-index: 2;
}
.image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background-color: white;
    width: 80vw; 
    height: 80vh; 
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #117A3D;
    cursor: pointer;
}


.popup-content h2 {
    margin-top: 0;
}

.mainsec .topdiv img{
    width: 100%;
    height: 600px;
}


.mainsec .topdiv{
    font-size: 20px;
}
.mainsec .topdiv h2{
    color: #117A3D;
    font-family: 'Nunito', sans-serif;
    z-index: 2;
    padding-left: 80px;
    position: relative;
    top: -450px;
    font-weight: bolder;
}

.mainsec .topdiv p{
    color: #404040;
    font-family: 'Nunito', sans-serif;
    z-index: 2;
    padding-left: 80px;
    position: relative;
    top: -440px;
    font-weight: bolder;
}
.mainsec .topdiv span{
    color: #117A3D;
    font-family: 'Nunito', sans-serif;
}

.mainsec .topdiv .arrow{
    color: #117A3D;
    font-family: 'Nunito', sans-serif;
    padding-left: 80px;
    position: relative;
    top: -460px;
}
.mainsec .topdiv .p2{
    color: #117A3D;
    font-family: 'Nunito', sans-serif;
    padding-left: 130px;
    position: relative;
    top: -517px;
}

.mainsec .header{
    font-family:'Lovely-Home', sans-serif;
    color: #117A3D;
    font-size: 180px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -450px;
    padding: 0;
}
